<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Street View Player</title>
</head>

<body>
    <h1>Welcome home</h1>
    <button id="play" onclick="playClicked()">Play</button>
    <h6 id="playClicked">0</h6>
    <button id="pause" onclick="pauseClicked()">Pause</button>
    <h6 id="pauseClicked">0</h6>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:5000');

        let playText = document.getElementById('playClicked');
        let pauseText = document.getElementById('pauseClicked');

        function playClicked()
        {
            socket.emit('play');
        }

        function pauseClicked()
        {
            socket.emit('pause');
        }

        socket.on('log', (data) =>
        {
            playText.innerText = data.playCount;
            pauseText.innerText = data.pauseCount;
        });

        socket.on('playCount', (data) =>
        {
            playText.innerText = data.playCount;
        });

        socket.on('pauseCount', (data) =>
        {
            pauseText.innerText = data.pauseCount;
        });

    </script>
</body>

</html>