<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Street View Player</title>
    <link rel="stylesheet" href="../styles/home.css">
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>

<body>
    <header>
        <div class="holder">
            <div class="title">Google Street View Player</div>
            <div class="btn"><a href="#">Try it out!</a></div>
        </div>
    </header>
    <!-- <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:5000');

        let playText = document.getElementById('playClicked');
        let pauseText = document.getElementById('pauseClicked');

        function playClicked()
        {
            socket.emit('play');
        }

        function pauseClicked()
        {
            socket.emit('pause');
        }

        socket.on('log', (data) =>
        {
            playText.innerText = data.playCount;
            pauseText.innerText = data.pauseCount;
        });

        socket.on('playCount', (data) =>
        {
            playText.innerText = data.playCount;
        });

        socket.on('pauseCount', (data) =>
        {
            pauseText.innerText = data.pauseCount;
        });

    </script> -->
</body>

</html>