<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Street View Player</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <div id="header">
        <div class="title">Google Street View Player</div>
        <!-- <p class="description">This is a video compiler for the street view API.<br>It takes the current position and -->
        <!-- the destination<br> and transforms it a interactive 360 experience.</p> -->
        <a href="#" class="header-btn">Try it out</a>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:5000');

        let playText = document.getElementById('playClicked');
        let pauseText = document.getElementById('pauseClicked');

        function playClicked()
        {
            socket.emit('play');
        }

        function pauseClicked()
        {
            socket.emit('pause');
        }

        socket.on('log', (data) =>
        {
            playText.innerText = data.playCount;
            pauseText.innerText = data.pauseCount;
        });

        socket.on('playCount', (data) =>
        {
            playText.innerText = data.playCount;
        });

        socket.on('pauseCount', (data) =>
        {
            pauseText.innerText = data.pauseCount;
        });

    </script>
</body>

</html>