/*-------------global------------*/

/* @font-face{
    font-family: dankMono;
    src: url(../assets/dankMono.otf);
} */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato";
}
/*-------------header------------*/
header{
    background: #2B2B2B url(../assets/hero_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}

.holder{
    /* background-color: red; */
    position: absolute;
    right: 20%;
    top: 40%;
    /* bottom: 30%; */
    /* right:15%; */
     display: flex;
    flex-flow: nowrap column;
    align-items: flex-end;
    /* bottom: 0; */
}

.title{
    color: white;
    line-height: 49px;
    font-size: 45px;
    font-style: normal;
    font-weight: bold;
    font-synthesis: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn{
    padding: 10px 50px;
    background: linear-gradient(270deg, #E5C163 0%, #CFB46E 100%);
    border-radius: 3px;
    width: 200px;
    text-align: center;
    margin-top: 15px;
}

.btn a{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

@media (max-width: 900px)
{
    .holder{
        right: 50%;
        transform: translate(50%,0);
        top: 30%;
        align-items: center;
    }
    .title{
        text-overflow: clip;
        white-space: normal;
    }
}
